<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a MySQL database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Here are all the libraries that you need.

In [ ]:
!pip install ipython-sql prettytable
!pip install mysql-connector-python
!pip install pandas
!pip install ipython-sql #Magic tool for SQL in Jupyter
!pip install SQLAlchemy

Execute the below code cell to avoid prettytable default error.

In [1]:
import prettytable

prettytable.DEFAULT = 'DEFAULT'

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into MySQL.
We will create three tables in as under:

1.  **CHICAGO_CENSUS**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME**

Load the `pandas` and `MySQL` libraries and establish a connection to `finaldb_ibm`

**IMPORTANT NOTE:** Remember to setup your credentials into the .json file

In [2]:
import json
import mysql.connector
import pandas as pd

# Load credentials from config.json
with open("config.json", "r") as config_file:
    config = json.load(config_file)

# Extract credentials into variables
user = config["user"]
password = config["password"]
host = config["host"]
port = config.get("port", 3306) # default to 3306 if not specified
database = config["database"]

# Use the credentials to connect to MySQL
con = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
    port=port
)
cur = con.cursor()
print("Connection successful.")

Connection successful.

Load the SQL magic module

In [3]:
%load_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `finaldb_ibm` as required tables.

In [4]:
from sqlalchemy import create_engine
import os
import pandas as pd

# Create the SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}")

# Script path
current_dir = os.getcwd()
print(f"Current directory: {current_dir}")

try:
    # Load the data from the CSV file
    df1 = pd.read_csv(os.path.join(current_dir, "data", "ChicagoCensusData.csv"))
    print("CSV loaded successfully df1.")
    df2 = pd.read_csv(os.path.join(current_dir, "data", "ChicagoPublicSchools.csv"))
    print("CSV loaded successfully df2.")
    df3 = pd.read_csv(os.path.join(current_dir, "data", "ChicagoCrimeData.csv"))
    print("CSV loaded successfully df3.")

    # Insert the data into the MySQL database
    df1.to_sql("Chicago_Census", engine, if_exists="replace", index=False)
    print("Data df1 inserted successfully.")
    df2.to_sql("Chicago_Public_Schools", engine, if_exists="replace", index=False)
    print("Data df2 inserted successfully.")
    df3.to_sql("Chicago_Crime", engine, if_exists="replace", index=False)
    print("Data df3 inserted successfully.")
    
except pd.errors.EmptyDataError:
    print("Error: The CSV file is empty.")
except pd.errors.ParserError:
    print("Error: Failed to parse the CSV file.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Current directory: c:\Users\Usuario\Desktop\IBM Data Science\Module 5. Assignment Preparation (Working with real-world data sets and built-in SQL functions)\Final Project
CSV loaded successfully df1.
CSV loaded successfully df2.
CSV loaded successfully df3.
An unexpected error occurred: Could not reflect: requested table(s) not available in Engine(mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm): (Chicago_Census)

Establish a connection between SQL magic module and the database `finaldb_ibm`

In [5]:
%sql mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [16]:
%sql SELECT count(*) as count FROM chicago_crime

 * mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm
1 rows affected.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [25]:
%%sql SELECT community_area_name, community_area_number, per_capita_income
FROM chicago_census 
WHERE per_capita_income < 11000

 * mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm
4 rows affected.

[('West Garfield Park', 26.0, 10934),
 ('South Lawndale', 30.0, 10402),
 ('Fuller Park', 37.0, 10432),
 ('Riverdale', 54.0, 8201)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [7]:
%%sql SELECT case_number
FROM chicago_crime 
WHERE description LIKE '%minor%'

 * mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm
2 rows affected.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [32]:
%sql SELECT primary_type, description, case_number FROM chicago_crime WHERE primary_type = 'kidnapping' AND description LIKE '%CHILD%'

 * mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm
1 rows affected.

[('KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'HN144152')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [39]:
%sql SELECT DISTINCT primary_type, location_description FROM chicago_crime WHERE location_description LIKE '%SCHOOL%'

 * mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm
9 rows affected.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [43]:
%sql SELECT `Elementary, Middle, or High School` AS School_Type, AVG(Safety_Score) FROM chicago_public_schools WHERE Safety_Score IS NOT NULL GROUP BY School_Type

 * mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm
3 rows affected.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [55]:
%%sql SELECT community_area_name, CONCAT(ROUND(percent_households_below_poverty,1), '%') AS below_poverty_line
FROM chicago_census
ORDER BY percent_households_below_poverty DESC
LIMIT 5

 * mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm
5 rows affected.

[('Riverdale', '56.5%'),
 ('Fuller Park', '51.2%'),
 ('Englewood', '46.6%'),
 ('North Lawndale', '43.1%'),
 ('East Garfield Park', '42.4%')]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [64]:
%%sql SELECT community_area_number, crime_count
FROM (SELECT community_area_number, COUNT(*) AS crime_count
        FROM chicago_crime
        WHERE community_area_number IS NOT NULL
        GROUP BY community_area_number) AS crime_counts
ORDER BY crime_count DESC
LIMIT 1

 * mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm
1 rows affected.

[(25.0, 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [65]:
%%sql SELECT community_area_name, hardship_index
FROM chicago_census
WHERE hardship_index = (SELECT MAX(hardship_index) FROM chicago_census)

 * mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm
1 rows affected.

[('Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [73]:
%%sql SELECT community_area_name, CCR.community_area_number, count(CCR.community_area_number) as crime_count
FROM chicago_census as CCE, chicago_crime as CCR
WHERE CCE.community_area_number = CCR.community_area_number AND CCR.community_area_number IS NOT NULL
GROUP BY CCR.community_area_number, community_area_name
ORDER BY crime_count DESC
LIMIT 1

 * mysql+mysqlconnector://root:***@localhost:3306/finaldb_ibm
1 rows affected.

[('Austin', 25.0, 43)]

##  Question Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>